#root {
  margin: 0 auto;
}
.custom-input::placeholder {
  font-size: 14px;
}
.tab.active {
  background-color: #9b9b9b;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
