#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}
body {
  margin:0;
}
.custom-input::placeholder {
  font-size: 14px; 
}


.tabs-container {
  width: 400px;
  margin: 20px auto;
}

.tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  /* border: 1px solid #ddd; */
  border-bottom: none;
  background-color: #f1f1f1;
}

.tab.active {
  border-bottom: 1px solid blue;
}

.tab-content {
  border: 1px solid #ddd;
  padding: 10px;
}

